@model Mediaframe.Models.ProfileViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="container" id="manage-main">
    <div class="row">
        <div class="col-4">
            <div class="container manage-main-info">

                <br />
                <h2 class="text-center">@ViewBag.Title.</h2>

                <p class="text-success">@ViewBag.StatusMessage</p>
                <div>
                    <h4>Change your account settings</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt class="d-inline">Password:</dt>
                        <dd class="d-inline">
                            [
                                @if (Model.Details.HasPassword)
                                {
                                    @Html.ActionLink("Change your password", "ChangePassword")
                                }
                                else
                                {
                                    @Html.ActionLink("Create", "SetPassword")
                                }
                            ]
                        </dd>
                        <br />
                        <dt class="d-inline">External Logins:</dt>
                        <dd class="d-inline">
                            @Model.Details.Logins.Count [
                            @Html.ActionLink("Manage", "ManageLogins") ]
                        </dd>
                        @*
                    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                     See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                     Uncomment the following block after you have set up two-factor authentication
                        *@
                        @*
                    <dt>Phone Number:</dt>
                    <dd>
                        @(Model.PhoneNumber ?? "None")
                        @if (Model.PhoneNumber != null)
                        {
                            <br />
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                            }
                        }
                        else
                        {
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                        }
                    </dd>
                        *@
                        <dt>Two-Factor Authentication:</dt>
                        <dd>
                            <p>
                                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                for details on setting up this ASP.NET application to support two-factor authentication.
                            </p>
                            @*@if (Model.TwoFactor)
                        {
                            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Enabled
                                <input type="submit" value="Disable" class="btn btn-link" />
                                </text>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Disabled
                                <input type="submit" value="Enable" class="btn btn-link" />
                                </text>
                            }
                        }*@
                        </dd>
                    </dl>
                </div>
            </div>
            </div>
            <div class="col-4">

                <div class="container manage-main-info" style="padding-bottom: 20px">
                    <br />

                    <!-- UserName Here-->
                    <h3 class="text-center">@Model.User.Email</h3>
                    <hr />

                    <div class="text-center">
                        <!-- Image URL Here-->
                        @if (string.IsNullOrEmpty(Model.Profile.Avatar))
                        {
                            <img class="img" src="https://vignette.wikia.nocookie.net/micronations/images/4/41/No-Avatar-High-Definition.jpg" />
                        }
                        else
                        {
                            <img class="img" src="@Model.Profile.Avatar" />
                        }
                    </div>
                    <br />

                    <p class="d-inline"><b>Name:</b></p>

                    <!-- Name Here-->
                    <p class="d-inline">@Model.Profile.Name</p>

                    <br />
                    <br />
                    <p class="d-inline"><b>Surname:</b></p>

                    <!-- Surname Here-->
                    <p class="d-inline">@Model.Profile.Surname</p>
                    <br />
                    <br />
                    <p class="d-inline"><b>Email:</b></p>

                    <!-- Email Here-->
                    <p class="d-inline">@Model.User.Email</p>
                </div>

            </div>
            <div class="col-4">
                @using (Html.BeginForm("EditProfile", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Profile.Name)
                        @Html.TextBoxFor(m => m.Profile.Name, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Profile.Surname)
                        @Html.TextBoxFor(m => m.Profile.Surname, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Profile.Avatar)
                        @Html.TextBoxFor(m => m.Profile.Avatar, new { @class = "form-control" })
                    </div>
                    @Html.HiddenFor(m => m.Profile.Id)
                    @Html.HiddenFor(m => m.User.Id)
                    <button class="btn btn-default">
                        Change
                    </button>
                }
            </div>
        </div>
    </div>

<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light" style="margin-top: 60px; text-align: center; display: block; border-bottom:0; border-top: 1px solid darkgrey;">
        <a class="navbar-brand" style="font-size: 16px;">© 2018 Mediaframe Inc. All Rights Reserved</a>
    </nav>
</footer>