@model Mediaframe.Models.ProfileViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="container" id="manage-main">
    <div class="row">
        <div class="col-4">
            <div class="container manage-main-info">

                <br />
                <h2 class="text-center">@ViewBag.Title.</h2>

                <p class="text-success">@ViewBag.StatusMessage</p>
                <div>
                    <h4>Change your account settings</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt class="d-inline">Password:</dt>
                        <dd class="d-inline">
                            [
                                @if (Model.Details.HasPassword)
                                {
                                    @Html.ActionLink("Change your password", "ChangePassword")
                                }
                                else
                                {
                                    @Html.ActionLink("Create", "SetPassword")
                                }
                            ]
                        </dd>
                        <br />
                        <dt class="d-inline">External Logins:</dt>
                        <dd class="d-inline">
                            @Model.Details.Logins.Count [
                            @Html.ActionLink("Manage", "ManageLogins") ]
                        </dd>
                        @*
                    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                     See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                     Uncomment the following block after you have set up two-factor authentication
                        *@
                        @*
                    <dt>Phone Number:</dt>
                    <dd>
                        @(Model.PhoneNumber ?? "None")
                        @if (Model.PhoneNumber != null)
                        {
                            <br />
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                            }
                        }
                        else
                        {
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                        }
                    </dd>
                        *@
                        <dt>Two-Factor Authentication:</dt>
                        <dd>
                            <p>
                                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                for details on setting up this ASP.NET application to support two-factor authentication.
                            </p>
                            @*@if (Model.TwoFactor)
                        {
                            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Enabled
                                <input type="submit" value="Disable" class="btn btn-link" />
                                </text>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Disabled
                                <input type="submit" value="Enable" class="btn btn-link" />
                                </text>
                            }
                        }*@
                        </dd>
                    </dl>
                </div>
            </div>
            </div>
            <div class="col-8 manage-main-info" style="padding: 30px;">
                <div class="row">
                    <div class="col-6">
                        <div style="padding-bottom:15px;">
                            @if (string.IsNullOrEmpty(Model.Profile.Avatar))
                            {
                                <img class="img img-fluid" width="128" height="128" src="https://vignette.wikia.nocookie.net/micronations/images/4/41/No-Avatar-High-Definition.jpg" />
                            }
                            else
                            {
                                <img class="img img-fluid" src="@Model.Profile.Avatar" />
                            }
                        </div>

                        @using (Html.BeginForm("EditProfile", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.LabelFor(m => m.Profile.Name)
                                @Html.TextBoxFor(m => m.Profile.Name, new { @class = "form-control", placeholder = "Name" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Profile.Surname)
                                @Html.TextBoxFor(m => m.Profile.Surname, new { @class = "form-control", placeholder = "Surname" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Profile.Avatar)
                                @Html.TextBoxFor(m => m.Profile.Avatar, new { @class = "form-control", placeholder = "Image URL" })
                            </div>
                            @Html.HiddenFor(m => m.Profile.Id)
                            @Html.HiddenFor(m => m.User.Id)
                            <button class="btn btn-secondary">
                                Change
                            </button>
                        }
                    </div>
                    <div class="col-6">
                        <h4>Account @Model.User.Email </h4>
                        <hr />
                        <button class="btn btn-secondary" data-toggle="modal" data-target="#modal-following" style="width:100%; margin-bottom:15px;">Following <span id="following-count" class="badge badge-info">@Model.Profile.Following.Count</span></button>
                        <button class="btn btn-secondary" data-toggle="modal" data-target="#modal-followers" style="width:100%;">Followers <span id="followers-count" class="badge badge-info">@Model.Profile.Followers.Count</span></button>
                        <div class="modal fade bd-example-modal-lg" id="modal-following" tabindex="-1" role="dialog" aria-labelledby="modal-followingCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal-followingCenterTitle">Following</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="overflow-y:scroll; height:400px;">
                                        <div id="following-users">
                                            @foreach(var user in Model.Profile.Following)
                                            {
                                                <div id="user-@user.Id" class="row" style="margin-bottom:15px;">
                                                    <div class="col-2">
                                                        @if (string.IsNullOrEmpty(user.Avatar))
                                                        {
                                                            <img class="img rounded-circle" width="50" height="50" src="https://vignette.wikia.nocookie.net/micronations/images/4/41/No-Avatar-High-Definition.jpg" />
                                                        }
                                                        else
                                                        {
                                                            <img class="img rounded-circle" width="50" height="50" src="@user.Avatar" />
                                                        }
                                                    </div>
                                                    <div class="col-3 align-items-lg-start">
                                                        <span>@user.Account.Email</span>
                                                        <span>@user.Name @user.Surname</span>
                                                    </div>
                                                    <div class="col-7 text-right">
                                                        <button id="following-unfollow-@user.Id" title="@user.Id" class="btn btn-secondary unfollow-button">Unfollow</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade bd-example-modal-lg" id="modal-followers" tabindex="-1" role="dialog" aria-labelledby="modal-followersCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal-followersCenterTitle">Followers</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="overflow-y:scroll; height:400px;">
                                        @foreach (var user in Model.Profile.Followers)
                                        {
                                            <div class="row" style="margin-bottom:15px;">
                                                <div class="col-2">
                                                    @if (string.IsNullOrEmpty(user.Avatar))
                                                    {
                                                        <img class="img rounded-circle" width="50" height="50" src="https://vignette.wikia.nocookie.net/micronations/images/4/41/No-Avatar-High-Definition.jpg" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img rounded-circle" width="50" height="50" src="@user.Avatar" />
                                                    }
                                                </div>
                                                <div class="col-3 align-items-lg-start">
                                                    <span>@user.Account.Email</span>
                                                    <span>@user.Name @user.Surname</span>
                                                </div>
                                                <div class="col-7 text-right">
                                                    @if (user.Followers.Contains(Model.Profile))
                                                    {
                                                        <button id="followers-unfollow-@user.Id" title="@user.Id" class="btn btn-secondary unfollow-button">Unfollow</button>
                                                    }
                                                    else
                                                    {
                                                        <button id="followers-follow-@user.Id" title="@user.Id" class="btn btn-secondary follow-button">Follow</button>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light" style="margin-top: 60px; text-align: center; display: block; border-bottom:0; border-top: 1px solid darkgrey;">
        <a class="navbar-brand" style="font-size: 16px;">© 2018 Mediaframe Inc. All Rights Reserved</a>
    </nav>
</footer>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".unfollow-button").click(function () {
                unfollow($(this));
            });

            $(".follow-button").click(function () {
                follow($(this));
            });
        });

        function follow(button) {
            $.ajax({
                url: "/Account/FollowProfile/" + button.attr("title"),
                method: "GET",
                success: function (response) {
                    var userId = button.attr("title");

                    var followerButton = $("#followers-follow-" + userId);

                    followerButton.html("Unfollow");
                    followerButton.removeClass("follow-button");
                    followerButton.addClass("unfollow-button");
                    followerButton.attr("id", "followers-unfollow-" + userId);
                    followerButton.click(function () {
                        unfollow($(this));
                    });

                    $("#following-users").append("<div id='temp' class='row' style='margin-bottom:15px;'>" + followerButton.parent().parent().html() + "</div>");

                    var newUser = $("#temp");

                    newUser.find("button").attr("id", "following-unfollow-" + userId);
                    newUser.find("button").click(function () {
                        unfollow($(this));
                    });

                    var followersCount = $("#followers-count");
                    var followingCount = $("#following-count");

                    followersCount.html(response["followers"]);
                    followingCount.html(response["following"]);
                }
            });
        }

        function unfollow(button) {
            $.ajax({
                url: "/Account/UnfollowProfile/" + button.attr("title"),
                method: "GET",
                success: function (response) {
                    var userId = button.attr("title");

                    var followerButton = $("#followers-unfollow-" + userId);
                    var followingButton = $("#following-unfollow-" + userId);

                    followingButton.parent().parent().remove();

                    followerButton.html("Follow");
                    followerButton.removeClass("unfollow-button");
                    followerButton.addClass("follow-button");
                    followerButton.attr("id", "followers-follow-" + userId);
                    followerButton.click(function () {
                        follow($(this));
                    });

                    var followersCount = $("#followers-count");
                    var followingCount = $("#following-count");

                    followersCount.html(response["followers"]);
                    followingCount.html(response["following"]);
                }
            });
        }
    </script>
    }