@model Mediaframe.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content">
     
    <div class="row">
        <div class="col-2">

        </div>

        <div>
            <div class="card" style="border-radius:0; border: 1px solid darkgray; background-color:#f8f9fa; margin-bottom:60px;">
                <div class="card-header">
                    <div class="row">
                        <div class="col-2">
                            <!-- Image URL Here-->
                            <img class="rounded-circle d-inline" width="40" height="40" src="https://vignette.wikia.nocookie.net/micronations/images/4/41/No-Avatar-High-Definition.jpg" />
                        </div>
                        <!-- Post user username-->
                        <p class="align-self-center text-muted" style="margin:0;"><strong>bokiboki@@gmail.com</strong></p>
                    </div>
                </div>
                <div class="card-body" style="padding:0;">
                    <!-- Post image -->
                    <img class="card-img-top" style="border-radius:0;" src="https://usercontent1.hubstatic.com/8573904_f496.jpg" alt="Card image cap">
                </div>
                <div class="card-footer text-muted">
                    <button class="btn btn-primary" style="padding-left:20px; padding-right:20px;">Like</button>
                    <button class="btn btn-secondary" style="padding-left:20px; padding-right:20px;">Comment</button>
                    <!-- Likes and comments count -->
                    <span class="text-right" style="width:100%; margin-left:20%">24 Likes 23 Comments</span>
                    <hr />
                    <!-- Comments List -->
                    <ul style="margin:0; list-style:none; padding:0;">
                        <li style="padding:0;"><strong>bokiboki@@gmail.com</strong> This is my newest project!</li>
                    </ul>
                    <hr />
                    <input type="text" class="form-control" style="width:100%; max-width:100%;" placeholder="Add a comment..." />
                </div>
            </div>
        </div>

        <div class="col-1">

        </div>

        <div class="col-3" style="padding: 0">

            <div class="manage-main-info" style="padding: 10px">
                <div class="row">

                    <div class="col-3">

                        <!-- Image URL Here-->
                        <img style="margin-top: 13px" class="rounded-circle d-inline" width="70" height="70" src="https://vignette.wikia.nocookie.net/micronations/images/4/41/No-Avatar-High-Definition.jpg" />

                    </div>

                    <div class="col-9" style="margin-top:20px;">

                        <!-- Username Here-->
                        <h6" style="margin: 25px 0px 0px 10px">@Model.User.Account.Email</h6">

                        <!-- Firstname Here-->
                        <p style="margin-left: 11px;" class="d-inline">@Model.User.Name</p>

                        <!-- Surname Here-->
                        <p class="d-inline">@Model.User.Surname</p>
                    </div>

                </div>

                <hr />

                <h5>Suggested friends</h5>

                <div class="container" style="padding-bottom: 20px">

                    <!-- List of Friends -->

                    @foreach (var user in Model.Suggested)
                    {
                        <div class="row">
                            <div class="col-3">
                                <!-- Image URL Here-->
                                @if (string.IsNullOrEmpty(user.Avatar))
                                {
                                    <img style="margin-top: 13px" class="rounded-circle d-inline" width="50" height="50" src="https://vignette.wikia.nocookie.net/micronations/images/4/41/No-Avatar-High-Definition.jpg" />
                                }
                                else
                                {
                                    <img style="margin-top: 13px" class="rounded-circle d-inline" width="50" height="50" src="@user.Avatar" />
                                }
                            </div>

                            <div class="col-9" style="margin-top:5px;">
                                <!-- Username Here-->
                                <h6>@user.Account.Email</h6>
                                <button class="btn btn-primary btn-sm">Follow</button>
                            </div>
                        </div>
                    }

                    <!-- End of List of Friends-->

                </div>
            </div>
            

        </div>

        <div class="col-1">

        </div>

    </div>

</div>