@model Mediaframe.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content">
     
    <div class="row">
        <div class="col-2">

        </div>

        <div>
            <div style="border-radius:0; border: 1px solid darkgray; background-color:#f8f9fa; padding:30px;">
                <h4 class="text-muted" style="margin-bottom:15px;">New Post</h4>
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.NewPost.ImageUrl, new { @class = "form-control", style = "width:100%; max-width:100%", placeholder = "Add Image URL..." })
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.NewPost.Description, new { @class = "form-control", style = "width:100%; max-width:100%", placeholder = "Add Description..." })
                    </div>
                    <button type="submit" class="btn btn-info" style="max-width:100%; width:100%;">
                        Post
                    </button>
                }
            </div>
            <hr />
            @foreach (var post in Model.Posts)
            {
                <div class="card" style="border-radius:0; border: 1px solid darkgray; background-color:#f8f9fa; margin-bottom:60px;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">
                                <!-- Image URL Here-->
                                @if (string.IsNullOrEmpty(Model.User.Avatar))
                                {
                                    <img class="rounded-circle d-inline" width="40" height="40" src="https://vignette.wikia.nocookie.net/micronations/images/4/41/No-Avatar-High-Definition.jpg" />
                                }
                                else
                                {
                                    <img class="rounded-circle d-inline" width="40" height="40" src="@post.User.Avatar" />
                                }
                            </div>
                            <!-- Post user username-->
                            <p class="align-self-center text-muted" style="margin:0;"><strong>@post.User.Account.Email</strong></p>
                        </div>
                    </div>
                    <div class="card-body" style="padding:0;">
                        <!-- Post image -->
                        <img class="card-img-top" style="border-radius:0; max-width:500px; max-height:500px;" src="@post.ImageUrl" alt="Card image cap">
                    </div>
                    <div class="card-footer text-muted">
                        @if (!post.Likes.Contains(Model.User))
                        {
                            <button class="btn btn-primary like-button" id="@post.Id" style="padding-left:20px; padding-right:20px;">Like</button>
                        }
                        else
                        {
                            <button class="btn btn-primary dislike-button" id="@post.Id" style="padding-left:20px; padding-right:20px;">Dislike</button>
                        }
                        <button class="btn btn-secondary comment-button" id="@post.Id" style="padding-left:20px; padding-right:20px;">Comment</button>
                        <!-- Likes and comments count -->
                        <span class="text-right" style="width:100%; margin-left:20%"><span id="likes-count-@post.Id">@post.Likes.Count</span> Likes <span id="comments-count-@post.Id">@post.Comments.Count</span> Comments</span>
                        <hr />
                        <!-- Comments List -->
                        <ul style="margin:0; list-style:none; padding:0;" id="comments-@post.Id">
                            <li style="padding:0;"><strong>@post.User.Account.Email</strong> @post.Description</li>
                            @foreach (var comment in post.Comments)
                            {
                                <li style="padding:0;"><strong>@comment.User.Account.Email</strong> @comment.Content</li>
                            }
                        </ul>
                        <hr />
                        <input id="new-comment-@post.Id" style="width:100%; max-width:100%;" type="text" class="form-control" placeholder="Add a comment..." />
                    </div>
                </div>
            }
        </div>

        <div class="col-1">

        </div>

        <div class="col-3" style="padding: 0">

            <div class="manage-main-info" style="padding: 10px">
                <div class="row">

                    <div class="col-3">

                        <!-- Image URL Here-->
                        @if (string.IsNullOrEmpty(Model.User.Avatar))
                        {
                            <img style="margin-top: 13px" class="rounded-circle d-inline" width="70" height="70" src="https://vignette.wikia.nocookie.net/micronations/images/4/41/No-Avatar-High-Definition.jpg" />
                        }
                        else
                        {
                            <img style="margin-top: 13px" class="rounded-circle d-inline" width="70" height="70" src="@Model.User.Avatar" />
                        }

                    </div>

                    <div class="col-9" style="margin-top:12px;">

                        <!-- Username Here-->
                        <h6" style="margin: 25px 0px 0px 10px">@Model.User.Account.Email</h6">

                        <!-- Firstname Here-->
                        <p style="margin-left: 11px;" class="d-inline">@Model.User.Name</p>

                        <!-- Surname Here-->
                        <p class="d-inline">@Model.User.Surname</p>

                        <!-- Followers and Following-->
                        <p style="margin-left: 11px;">
                            <span style="border-right: 1px solid darkgray; margin-right:5px;">
                                Following <span id="following-count">@Model.User.Following.Count</span>
                            </span>
                            <span>
                                Followers <span id="followers-count">@Model.User.Followers.Count</span>
                            </span>
                        </p>
                    </div>

                </div>

                @if (Model.Suggested.Count > 0)
                {
                    <div id="suggested-friends">
                        <hr />

                        <h5>Suggested friends</h5>

                        <div class="container" style="padding-bottom: 20px">

                            <!-- List of Friends -->

                            @foreach (var user in Model.Suggested)
                            {
                                <div class="row suggested-friend">
                                    <div class="col-3">
                                        <!-- Image URL Here-->
                                        @if (string.IsNullOrEmpty(user.Avatar))
                                        {
                                            <img style="margin-top: 13px" class="rounded-circle d-inline" width="50" height="50" src="https://vignette.wikia.nocookie.net/micronations/images/4/41/No-Avatar-High-Definition.jpg" />
                                        }
                                        else
                                        {
                                            <img style="margin-top: 13px" class="rounded-circle d-inline" width="50" height="50" src="@user.Avatar" />
                                        }
                                    </div>

                                    <div class="col-9" style="margin-top:5px;">
                                        <!-- Username Here-->
                                        <h6>@user.Account.Email</h6>
                                        <button id="@user.Id" class="btn btn-primary btn-sm follow-button">Follow</button>
                                    </div>
                                </div>
                            }

                            <!-- End of List of Friends-->

                        </div>
                    </div>
                }
            </div>
            

        </div>

        <div class="col-1">

        </div>

    </div>

</div>

@section Scripts {
    <!-- Some dangerous ajax code -->
    <script>
        $(document).ready(function () {
            $(".follow-button").click(function () {
                var button = $(this);
                $.ajax({
                    url: "/Account/FollowProfile/" + button.attr("id"),
                    method: "GET",
                    success: function (response) {
                        button.parent().parent().remove();

                        var followers = $("#followers-count");
                        var following = $("#following-count");

                        following.html(response["following"]);
                        followers.html(response["followers"]);

                        var suggestedFriends = $(".suggested-friend");

                        if (suggestedFriends.length == 0) {
                            var suggestedContainer = $("#suggested-friends");

                            suggestedContainer.remove();
                        }
                    }
                });
            });

            $(".comment-button").click(function () {
                comment($(this));
            });

            $(".like-button").click(function () {
                like($(this));
            });

            $(".dislike-button").click(function () {
                dislike($(this));
            });
        });

        function like(button) {
            var id = button.attr("id");
            var postLikes = $("#likes-count-" + id); 

            button.addClass("button-dislike");
            button.removeClass("button-like");
            button.html("Dislike");
            button.click(function () {
                dislike($(this));
            });

            $.ajax({
                url: "Posts/LikePost/" + id,
                method: "GET",
                success: function (response) {
                    postLikes.html(response["likes"]);
                }
            });
        }

        function dislike(button) {
            var id = button.attr("id");
            var postLikes = $("#likes-count-" + id);

            button.addClass("button-like");
            button.removeClass("button-dislike");
            button.html("Like");
            button.click(function () {
                like($(this));
            });

            $.ajax({
                url: "Posts/DislikePost/" + id,
                method: "GET",
                success: function (response) {
                    postLikes.html(response["likes"]);
                }
            });
        }

        function comment(button) {
            var id = button.attr("id");
            var inputForm = $("#new-comment-" + id)
            var commentsContainer = $("#comments-" + id);
            var value = inputForm.val();
            inputForm.val("");
            $.ajax({
                url: "/Posts/NewComment/" + button.attr("id") + "?comment=" + value,
                method: "GET",
                success: function (response) {
                    commentsContainer.append("<li style='padding:0;'><strong>" + "@Model.User.Account.Email" + "</strong> " + response["commentContent"] + "</li>");
                    $("#comments-count-" + id).html(response["comments"]);
                }
            });
        }
    </script>
    }